@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--body-background-color);
  // background-color: red;
}
main {
  background-color: var(--body-background-color);
  height: 90vh;
  min-height: 90vh;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.load-container {
  background-color: var(--body-background-color);
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  p {
    color: var(--input-font-color);
    font-size: 20px;
  }
}
